<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBWDPVB6OzD3Y57KDchWk9cYMR8erB3iy0</string>
	<key>GCM_SENDER_ID</key>
	<string>104044212185</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.catalfotech.kataru</string>
	<key>PROJECT_ID</key>
	<string>kataru-b341b</string>
	<key>STORAGE_BUCKET</key>
	<string>kataru-b341b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:104044212185:ios:83dd742fae821c35d473c8</string>
</dict>
</plist>